<div class="mx-auto md:w-2/3 w-full">
  <div class="font-bold text-4xl">Resend confirmation instructions</div>

  <%=
    form_with(
      model: resource,
      scope: resource_name,
      url: confirmation_path(resource_name),
      method: :post,
      class: 'contents'
    ) do |f|
  %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field my-5">
      <%= f.label :email %>
      <%=
        f.email_field(
          :email,
          autofocus: true,
          autocomplete: 'email',
          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
          class: %w(
            block
            shadow
            rounded-md
            border
            border-gray-200
            outline-none
            px-3
            py-2
            mt-2
            w-full
            focus:border-fuchsia-600
            focus:ring-fuchsia-600
          )
        )
      %>
    </div>

    <div class="actions inline">
      <%=
        f.submit(
          'Resend confirmation instructions',
          class: 'rounded-lg py-3 px-5 bg-fuchsia-600 text-white inline-block font-medium cursor-pointer'
        )
      %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
