<%= form_with(model: wallet, class: 'contents') do |form| %>
  <% if wallet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <div class="font-medium text-2xl">
        <%= pluralize(wallet.errors.count, 'error') %> prohibited this wallet from being saved:
      </div>

      <ul>
        <% wallet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%=
      form.text_field(
        :name,
        class: %w(
          block
          shadow
          rounded-md
          border
          border-gray-200
          outline-none
          px-3
          py-2
          mt-2
          w-full
          focus:border-fuchsia-600
          focus:ring-fuchsia-600
        )
      )
    %>
  </div>

  <div class="inline">
    <%= form.submit class: 'rounded-lg py-3 px-5 bg-fuchsia-600 text-white inline-block font-medium cursor-pointer' %>
  </div>

  <% if wallet.transactions.any? %>
    <div class="mt-14">
      <div class="flex justify-between items-center">
        <div class="font-semibold text-3xl inline">Transactions of this Wallet</div>
        <%=
          link_to(
            "New transaction",
            new_transaction_path,
            class: 'rounded-lg py-3 px-5 bg-fuchsia-600 text-white block font-medium'
          )
        %>
      </div>

      <div id="transactions" class="min-w-full">
        <%= render wallet.transactions %>
      </div>
    </div>
  <% end %>
<% end %>
