<div id="<%= dom_id wallet %>">
  <div class="my-5">
    <div class="font-medium text-2xl"><%= wallet.name %></div>
  </div>

  <div class="my-5">
    <%=
      bar_chart(
        Transaction.where(wallet: wallet).joins(:category).group('categories.name').sum(:price),
        xtitle: 'Price',
        ytitle: 'Category',
        prefix: '₺',
        round: 2,
        zeros: true,
        title: 'Expenses and Incomes'
      )
    %>
  </div>

  <% if action_name != 'show' %>
    <%= link_to 'Show this wallet', wallet, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%=
      link_to(
        'Edit this wallet',
        edit_wallet_path(wallet),
        class: 'rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium'
      )
    %>
    <hr class="mt-6">
  <% end %>
</div>
