<div id="<%= dom_id transaction %>">
  <p class="my-5">
    <div class="font-medium text-2xl">
      <%= transaction.name %>
      (<%= link_to transaction.category.name, transaction.category, class: 'text-fuchsia-600' %>)
    </div>
  </p>

  <div class="my-5">
    <div class="inline-flex flex-col items-center gap-y-3">
      <%=
        image_tag(
          "category_icons/#{transaction.category.icon}.svg",
          alt: transaction.category.icon.capitalize,
          class: 'w-48 h-48'
        )
      %>
      <div>
        <%= '-' if transaction.price.negative? %>₺<%= transaction.price.abs %>
        in
        <%= link_to transaction.wallet.name, transaction.wallet, class: 'text-fuchsia-600' %>
      </div>
    </div>
  </div>

  <% if action_name != "show" %>
    <%=
      link_to "Show this transaction", transaction, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium'
    %>
    <%=
      link_to(
        'Edit this transaction',
        edit_transaction_path(transaction),
        class: 'rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium'
      )
    %>
    <hr class="my-6">
  <% end %>
</div>
